ul.nav.navbar-nav.navbar-right
    li.dropdown
        if profile
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Welcome, #{profile.username}!
                span.caret
            ul.dropdown-menu(role='menu')
                li.divider
                li
                    a(href='/logout') Logout
        else
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Welcome, please login!
                span.caret
            ul.dropdown-menu(role='menu')
                each provider in supportedProviders
                    li
                        a(href='/auth/#{provider.routeName}') #{provider.displayName} login
