// Marked
script(type='text/javascript', charset='utf-8', src='/bower/marked/lib/marked.js')
// Socket IO
script(type='text/javascript', charset='utf-8', src='/bower/socket.io-client/socket.io.js')
// Jquery
script(type='text/javascript', charset='utf-8', src='/bower/jquery/dist/jquery.min.js')
// Bootstrap
script(type='text/javascript', charset='utf-8', src='/bower/bootstrap/dist/js/bootstrap.min.js')
// DataTables
script(type='text/javascript', charset='utf-8', src='/bower/datatables/media/js/jquery.dataTables.min.js')
script(type='text/javascript', charset='utf-8', src='/js/ext/dataTables.bootstrap.js')
// Datatables Moment Plugin for Date Sorting
script(type='text/javascript', charset='utf-8', src='/bower/moment/min/moment.min.js')
script(type='text/javascript', charset='utf-8', src='/js/ext/datetime-moment.js')
// Layout Specific Javascript Files
script(type='text/javascript', charset='utf-8', src='/js/navbar.js')
if accessRights.upload
    script(type='text/javascript', charset='utf-8', src='/js/addNewDownload.js')

if jsFiles
    each jsFile in jsFiles
        script(type='text/javascript', charset='utf-8', src=jsFile)