extends layout

block content
    .container
        .panel.panel-default
            .panel-heading
              h3.panel-title Downloads
            .panel-body
              table#downloadList.table.table-striped.table-bordered
                thead
                  tr
                    th
                      button.btn.btn-default(type='button', disabled='')
                        span.glyphicon.glyphicon-trash(aria-hidden='true')
                    th Name
