doctype html
html(lang='en')  
    head
        meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
        title #{title}
        link(rel='shortcut icon', type='image/x-icon', href='/images/glyphicons-23-fire.ico')
        // Github Flavored Markdown CSS
        link(rel='stylesheet', type='text/css', href='/bower/github-markdown-css/github-markdown.css')
        // Layout Specific CSS
        link(rel='stylesheet', type='text/css', href='/css/layout.css')
        // Bootstrap
        link(rel='stylesheet', type='text/css', href='/bower/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/bower/bootstrap/dist/css/bootstrap-theme.min.css')
        // DataTables CSS
        link(rel='stylesheet', type='text/css', href='/css/ext/dataTables.bootstrap.css')
        // Bootstrap-Markdown
        link(rel='stylesheet', type='text/css', href='/bower/bootstrap-markdown/css/bootstrap-markdown.min.css')
        // FontAwesome
        link(rel='stylesheet', type='text/css', href='/bower/components-font-awesome/css/font-awesome.min.css')
        script.
            var internals = {};
            internals.profile = !{JSON.stringify(profile || {})};
            internals.accessRights = !{JSON.stringify(accessRights || {})};
            internals.dataTableAjax = !{JSON.stringify(dataTableAjax || '')};
        include inc/scripts
    body(style='padding-top: 100px;')
        include inc/navbar
        block content
        include inc/manageWebhooks
